.app {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 130px auto 80px;
    grid-template-areas:
            "header header header"
            "nav content content"
            "footer footer footer"
}

.header {
    grid-area: header;
}

.navBoard {
    grid-area: nav;
}

.content {
    grid-area: content;
    background-color: white;
}

.footer {
    grid-area: footer;

}